/***************** MENU TOP********************/

.nav_bar {
  position: sticky;
  top: 0;
  justify-content: center;

}

.nav_bar ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  float: right;
}

.nav_bar li {
  float: right;
}

.nav_bar li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav_bar li a:hover {
  background-color: #111;
}

/****************HOME GALLERIE********************/

.container {
  height: 25%;
  width: 100%;
  background-color: #675074;
  display: block;
  padding: 5px;
  border: 1px solid blue;    
}

.commentaire {
    height: 12%;
    width: 50%;
    background-color: #545074;
    display: block;
    padding: 5px;
    border: 1px solid blue;
    left: 21%;
    bottom: -42%;
    position: relative;
}

.commentaire form {
  
}

.commentaire form:hover {
  background-color: red;
}

.container img {

    position: absolute;
    display: block;
    width: auto;
    height: 15%;
    left: 42%;
}
.container p {

text-align: center;
 
}



/*****************INSCRIPTION CSS********************/

.inscription td {
  text-align:  right;
}

/*************** CAPTURE ***************/

.stikers {
  overflow: auto;
  width : 325px;
  height: 500px;
  border: 1px solid black;
}


/*************** PROFIL ***************/

.blanc {
  visibility: hidden;
}

/*
.cam {
  padding: 5px;
  border: 1px solid blue; 
}
.video {
  padding: 5px;
  border: 1px solid green; 
}

.filtre {
  padding: 5px;
  border: 1px solid red; 
}

.montage {
  padding: 5px;
  border: 1px solid grey; 
}
*/

/****************** FOOTER ********/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}
