.container {
	height: 25%;
	width: 100%;
	background-color: red;

}
.right {
	text-align: right;
	text-decoration: none;
}

.right a {
	
	font-size: 1.5vw;
	text-decoration: none;
}

.right ul {
list-style:none;
margin-left:0;
padding-left:0;
}

/*****************INSCRIPTION CSS********************/

.inscription td {
	text-align:  right;
}